body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bcf6ff+0,fcccf7+32,837dd8+69,bdf3fd+100 */
  background: #bcf6ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  hsl(188,100%,87%) 0%, hsl(306,89%,89%) 32%, hsl(244,54%,67%) 69%, hsl(189,94%,87%) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  hsl(188,100%,87%) 0%,hsl(306,89%,89%) 32%,hsl(244,54%,67%) 69%,hsl(189,94%,87%) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  hsl(188,100%,87%) 0%,hsl(306,89%,89%) 32%,hsl(244,54%,67%) 69%,hsl(189,94%,87%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcf6ff', endColorstr='#bdf3fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  background: #ffffff4d;
  margin: 0 0 1em 0;
  padding: 1em;
}
#appName {
  font-style: italic;
  font-weight: normal;
  font-family: serif;
  font-size: 1.3em;
}

button.bigButton {
  cursor: pointer;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button.bigButton:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 1rem;
  z-index: -2;
}
button.bigButton:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
button.bigButton:hover {
  color: #fff;
}
button.bigButton:hover:before {
  width: 100%;
}

button#helpButton:before {
  background-color: #B9E;
}
button#helpButton:after {
  background-color: #D8C;
}

button#helpButton {
  position:  absolute;
  right: 0;
  height: 2em;
  transform: scale(0.7);
}

button#shareButton {
  position:  absolute;
  right: 1.3em;
  height: 2em;
  font-weight: bold;
  letter-spacing: -3px;
  transform: scale(0.7);
}

button#downloadButton {
  position: absolute;
  right: 2.65em;
  height: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  text-decoration: underline;
  transform: scale(0.7);
}

.buttonContainer {
  width: 30%;
  margin: 0 auto;
  min-width: 350px;
  position: relative;
}

#helpText {
  display: none;
}

#progress {
  width: 100%;
  margin-top: 0.5em;
}

#notice {
  text-align: center;
  font-weight: bold;
  font-size: 0.85em;
  color: #666;
}

.textContainer {
  width: 80%;
  margin: 0 auto;
  background: rgba(255,255,255,0.4);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 10px white;
}

#instancesTable_wrapper {
  margin: 1em 0.1em;
}

#instancesTable tr.odd {
  background: #eeeeee99;
}
#instancesTable tr.even {
  background: #ffffff99;
}

#instancesTable tr.failed {
  background: black;
}

.help-icon {
    color: white;
    background: #00000080;
    padding: 0.5em;
    border-radius: 1em;
    line-height: 0.6em;
    height: 0.5em;
    display: inline-block;
}

@media (hover: none) {
  .help-icon {
    display: none;
  }
}

footer {
  text-align: center;
  margin-bottom: 1em;
}
